.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 60px;
  background: url("./assets/N13.jpeg") center/cover no-repeat;
  color: #473737;
  text-align: center;
  padding: 2rem;
}

.main-content {
  max-width: 800px;
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-size: 3rem;
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
  text-shadow: 0px 9px 8px rgba(0, 0, 0, 0.296);
  color: rgba(152, 89, 89, 0.966);
}

.content-description {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: rgb(109, 78, 78);
  text-shadow: 0px 9px 8px rgba(0, 0, 0, 0.296);
  padding: 10px 0;
}
.buttonlink{
  display: inline-flex;
  padding: 2rem;
}

.bookme {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
  background-color: rgba(240, 240, 240, 0.644);
  color: #262525a1;
  font-weight: bold;
  padding: 1.5rem 1.5rem;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.9s ease;
  cursor: pointer;
}

.bookme:hover {
  background-color: rgb(9, 9, 9);
  color: rgb(252, 252, 252);
  font-size: 1.3rem;
  transform: scale(1.05);
}
.gallery{
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: #1e1111ae;
  font-size: 1.2rem;
  border: #f9f2f2a0 solid 2px;
  margin: 0 0.5rem;
  padding: 1.5rem 1.5rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.9s ease;
  cursor: pointer;
}
.gallery:hover{
  border-color: rgb(0, 0, 0);
  color: rgb(248, 248, 248);
  font-size: 1.3rem;
  transform: scale(1.05);
}

/* Media queries */
@media (max-width: 768px) {
  .logo-text {
    font-size: 2rem;
  }

  .content-description {
    font-size: 1.5rem;
  }

  .bookme {
    width: 100%;
    text-align: center;
  }
  .gallery{
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
  }
}
